h1 {
  font-size: 45px;
}

custom-color {
  background-color: #241333;
}

.text-custom-color {
  color: #522B5B;
}

.custom-font {
  font-family: 'Alatsi', sans-serif;
}

.custom-font-inter {
  font-family: 'Inter', sans-serif;
}

.custom-width {
  width: 28vw;
}

.button-custom-color {
  background: #522B5B;
}

.button-home {
  font-size: 34px;
  width: 30vh;
  height: 10vh;
}

.three-d-base {
  font-style: bold;
  color: #522B5B;
  border-radius: 20px;
  margin: 20px;
  background: linear-gradient(180deg, #DFB6B2 0%, #C8A09C 100%);
  box-shadow: 0px -1px 1px 1px #886D6A inset, 0px 12px 16px -4px rgba(0, 0, 0, 0.04), 0px 6px 0px 0px #886D6A;
}


#button-send {
  padding: 6px 14px;
  border-radius: 3px;
  font-size: 15px;
}

.waiting {
  border-radius: 8px;
  background: #F4F4F4;
}

.fill-custom-color {
  fill: #522B5B;
}

.gray {
  color: #898888;
}

.margin-custom{
  margin-top: 14vh;
}
